API_ENV=development
PORT=7000

# DB_CONNECTION=mongodb
DB_HOST=localhost
DB_PORT=27017
DB_NAME=laruno_db
DB_USER=laruno
DB_PASS=password
DB_AUTH=admin

JWT_SECRET=T1YqD-Iqk7BqpmKz-sQRnAEkN8_GGeeXANBwCvg88Tc
JWT_EXPIRED=365